a,
a:hover {
  color: initial;
}
.container {
  margin: 2em auto 0 auto;
}
.nav-tabs {
  border: none;
}
.nav-tabs>li>a {
  padding: 0;
  border: none;
  background: none;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  border: none;
  background: none;
}
.nav-tabs>li>a:hover {
  background: none;
  border: none;
}
.scrtabs-tabs-fixed-container {
  height: initial;
}
.scrtabs-tabs-fixed-container ul.nav-tabs {
  height: auto;
}
.scrtabs-tabs-fixed-container ul.nav-tabs > li {
  white-space: initial;
}
.glyphicon {
  font-family: 'icomoon';
}
.glyphicon-chevron-left:before {
  content: "\e91c";
}
.glyphicon-chevron-right:before {
  content: "\e91b";
}
/* end of reset styles */
body {
  color: #6d747e;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}
.noTop {
  margin-top: 0;
}
.tall .nav-tabs li,
.tall .scrtabs-tab-container {
  height: 125px;
}
.tall .nav-tabs li .scrtabs-tab-scroll-arrow,
.tall .scrtabs-tab-container .scrtabs-tab-scroll-arrow {
  height: 123px;
  padding: 0;
  margin: 0;
  border-top: 1px solid #ddd;
}
.tall .nav-tabs li .scrtabs-tab-scroll-arrow .glyphicon,
.tall .scrtabs-tab-container .scrtabs-tab-scroll-arrow .glyphicon {
  margin-top: 50px;
}
.tall .tab-content {
  height: calc(100vh - (125px + 4em));
  overflow-y: auto;
  overflow-x: hidden;
}
.tab-content {
  margin: 0.7em 0;
}
.tab-content h2 {
  color: #80cc28;
  margin-bottom: 30px;
}
.tab-content h3 {
  color: #434951;
  font-weight: 600;
}
.nav-tabs>li.active {
  cursor: default;
  background: #fff;
  color: #434951;
  border: 1px solid #ddd;
  border-top: 5px solid #80cc28;
  border-bottom-color: transparent;
}
.nav-tabs>li {
  padding: 1em 0.5em 0.5em;
  border: 1px solid #fff;
  border-top: 5px solid transparent;
  border-radius: 0;
  border-bottom-color: #ddd;
  margin: 0;
  min-width: 125px;
  font-size: 16px;
  max-width: 200px;
  white-space: normal;
  background: #f2f2f2;
  transition: border-top ease-out 0.3s, background ease-out 0.3s;
}
.nav-tabs>li a {
  color: #a8adb4;
  transition: color ease-out 0.3s;
}
.nav-tabs>li:hover {
  border-top: 5px solid #a8adb4;
}
.nav-tabs>li:hover a {
  color: #6d747e;
}
.nav>li>a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 1.2em;
  margin: 0;
}
.nav-tabs input {
  position: relative;
}
.radiobtn input {
  display: none;
}
.radiobtn > input + .icon {
  background: url("https://www.bts.com/images/svg/icons/digital-icons/radio-button-empty.svg") no-repeat;
  width: 25px;
  height: 25px;
}
.radiobtn > input:checked + .icon {
  background: url("https://www.bts.com/images/svg/icons/digital-icons/radio-button-selected.svg") no-repeat;
  width: 25px;
  height: 25px;
}
.scrtabs-tab-scroll-arrow {
  color: #0ab9f0;
  text-align: center;
  background: #fff;
  transition: background ease-out 0.3s, color ease-out 0.3s;
}
.scrtabs-tab-scroll-arrow:hover {
  background: #0ab9f0;
  color: #fff;
}